@import '~antd/dist/antd.css';
*{
  margin:0;
  padding:0;
  font-family: 'IBM Plex Sans', sans-serif;
}
button{
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {outline:0;}
.App {
  position: relative;
  min-height: 100vh;
}
.nav-wrap{
  text-align: left;
  background-color: #131A21;
  padding: .5em 1em;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  position: relative;
}
.notify-btn{
  margin-left: 5px;
  display: inline-block;
}
.alert-dropdown{
  vertical-align: middle;
}
.notify-btn-text{
  display: inline-block;
  margin-right: 7px;
}
.notifications{
  display: block;
  margin-right: 5px;
}
.nav-wrap h1{
  font-weight: 600;
  display: inline-block;
  font-size: 30px;
  color: white;
  margin: 0;
}
/* .nav-wrap p{
  font-weight: 300;
  display: inline-block;
  font-size: 30px;
  color: white;
  margin: 0;
} */

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 1em auto; */
  /* box-shadow: 0px 9px 37px -19px rgba(0,0,0,0.66); */
   /* padding: 2em;  */
  background-color: white;
  border-radius: 5px;
}
.landing-form{
width: 100%;
/* box-shadow: 0px 9px 37px -19px rgba(0,0,0,0.66); */
padding: 2em;
margin: 0 auto;
max-width: 500px;
}
.auth-img{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.form h1{
  color:#242F3E;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
}
input{
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  border: none;
  background-color: #f8f9fa; 
  display: block;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  border-radius: 99px;
}
.add-btn{
  border: none;
  color: white;
  font-weight: 600;
  display: block;
  margin-right: 10px;
}
.add-img{
  height: 28px;
display: block;

}
.errors-url{
  padding-bottom: 5px;
  color: rgba(255, 0, 0, 0.61);
  text-align: left;
  font-style: italic;
}
.form-link:hover{
  color: darkgray;
}
.product-card{
  margin: 1em;
  border: 1px solid rgba(255,255,255,0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content max-content max-content;
  border-radius: 5px;
  box-shadow: -6px -6px 26px 0 rgba(217,210,200,0.31), 6px 6px 16px 0 rgba(217,210,200,0.31) ;
}
.product-price{
  color: #FF9900;
  font-weight: 800;
  justify-self: center;
  padding: 1em 1em 1em 1em;
}
.product-name{
  font-weight: 400;
  color: #707070;
  font-size: 18px;
  padding: 0 2em 0 2em;
  justify-self: center;
  text-align: center;
}
.product-img{
  max-width: 300px;
  border-radius: 15px;
  display: block;
  margin: 2em auto;
}
.product-card-header{
  display: flex;
  flex-direction: row;
}
.product-remove{
  font-size: 20px;
  border: none;
  color: #BDBDBD;
  border-radius: 5px;
  font-weight: 600;
  padding: 8px;
  max-width: max-content;
  display: block;
}
.product-alerts{
  width: max-content;
  display: block;
  margin-left: auto;
  padding: 8px;

  }
.product-target-price{
  justify-self: center;
  padding-bottom: 2em;
  font-weight: 700;
  color: #242F3E;
  
}
.product-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.num-products{
  display: block;
  font-size: 16px;
}
.product-int{
  color: #745fb5;
  font-weight: 600;
  font-style: normal;
}
.nav-user{
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: 1fr;
  color: white;
  margin-left: auto;

}
.nav-icon{
  padding-right: 5px;
  display: block;

}
.name{
  font-size: 20px;
  font-weight: 300;

}
.logout{
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 500;
  margin-left: 15px;
  color: rgba(255, 255, 255, .7);
  font-size: 16px;
}
.user-icon-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.products{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.Register{
  display: grid;
  grid-template-columns: 33% 66%;
  padding-top: 150px;
  max-width: 1100px;
  margin: 0 auto;
}
.register-text{
  text-align: center;
  color: #707070;
}
.register-btn{
  background-color: #FF9900;
  color: white;
  height: auto;
  padding: .75em 3em;
  border-radius: 99px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  width: max-content;
  margin: 1em auto 0 auto;
}
.register-btn:hover{
  border: none;
  color: white;
  background-color: #FFAD33;
}
.register-btn:focus{
  color: white;
  background-color: #FFAD33;
}
.form-link{
  text-align: center;
  text-decoration: none;
  color: #242F3E;
  cursor: pointer;
}
.sign-in-header{
text-align: center;
}
.price-edit-btn{
  background-color: #FF9900;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
display: block;
margin: 10px auto 0 auto;
}
.price-update-btn{
  background-color: #FF9900;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 1em;
}
.price-cancel-btn{
  background-color: #242F3E;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.price-input{
  margin: 0 auto;
  width: 33%;
  text-align: center;
}
.price-btn-wrap{
  padding: 1em;
  width: max-content;
  margin: 0 auto;
}
@media only screen and (max-width: 1080px) {
  .product-wrap{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .landing-form{
    width: 100%;
  }
  .Register{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
  }
  .auth-img{
    width: 33%;
  }
}
@media only screen and (max-width: 800px) {
  .left-top{
    grid-template-columns: 1fr;
  }

}
@media only screen and (max-width: 680px) {
  .product-wrap{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .products{
    display: none;
  }
  .landing-form{
    width: 95%;
    margin: 0 auto;
    box-shadow: none;
  }
}
.testing{
  margin-top: 10px;
}
.pro-name:hover{
  background-color: #fff;
  cursor: default;
}
.add-product-btn{
  background-color: #FF9900;
  border: #FF9900;
}
.add-product-btn:hover{
  background-color: #FFAD33;
}
.add-product-btn:focus{
  background-color: #FFAD33;
}
.modal-title{
  padding-top: 10px;
  text-align: center;
}
.foot-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 5px;
  background-color: none;
}
.foot-wrap p{
  padding: 3px;
  margin: 0;
  color: darkgray;
  font-size: 10px;
  text-align: center;
}
.logo{
  display: inline-block;
  width: 120px;
}
.logo-text{
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  font-size: 30px;
  color: white;
  margin: 0;
}
.landing{
  width: 100%;
  padding:150px;
  padding-top: 100px;
  min-height: 96.5vh;
  background: rgb(19,26,33);
  background: linear-gradient(180deg, rgba(19,26,33,1) 21%, rgba(58,75,90,1) 100%);
}
.landing-wrap{
  width: 100%;

  position: relative;
  max-width: 1400px;
  margin: 0 auto;

}
.landing-left{
  max-width: 660px;
  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
}
.left-top{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: max-content max-content max-content;
}
.landing-img{
  width: 50%;
  max-width: 800px;
  position: absolute;
  bottom: -200px;
  right: 50px;
}
.left-bottom{
  margin-top: 125px;
}
.left-bottom h1{
  margin: 0;
  color: white;
  font-size: 36px;
  line-height: 48px;
}
.landing-btn{
  margin-top: 50px;
  color: white;
  background-color: #FF9900;
  padding: .75rem 1.5rem;
  border-radius: 99px;
  font-size: 20px;
  font-weight: 500;
}

.landing-img:hover{
  transform: scale(1.1);
}
.landing-btn:focus{
  transform: scale(1.1);
  color: white;
}
.form-errors{
  text-indent: 8px;
  color: red;
  font-size: 12px;
}
.nav-sign-in{
  color: darkgrey;
  width: max-content;
  margin-left: auto;
  font-weight: 500;
  font-size: 1rem;
}
.nav-sign-in:hover{
  color: white;
}
.img-1{
  margin-bottom: 30px;
  width: 100%;
}
.img-2{
grid-column: 2;
grid-row:2;
width: 100%;
}
.img-3{
  grid-column: 3;
  grid-row: 3;
margin-top: -10px;
width: 100%;
}
@media only screen and (max-width: 800px) {
 .left-top{
   margin-top: 30px;
   grid-template-columns: 1fr;
 }
 .img-1{
  margin: 0 auto 25px auto;
   max-width: 20%;
   grid-column: 1;
 }
 .img-2{
  margin: 0 auto 10px auto;
  grid-column: 1;
  max-width: 50%;

 }
 .img-3{
  margin: 0 auto 25px auto;
  grid-column: 1;
max-width: 66%;
 }
 .landing-left{
   max-width: none;
 }
 .landing-img{
   display: none;
 }
 .landing{
   min-height: 96.5vh;
   padding: 50px 25px 25px 25px
 }
 .left-bottom{
  margin-top: 25px;
}
 .left-bottom h1{
   text-align: center;
  font-size: 24px;

  line-height: 33px;
 }
 .landing-btn{
   display: block;
   max-width: max-content;
   margin: 75px auto;
   padding: .55rem 1.5rem;
 }

}